img {
  /* Responsive images (ensure images don't scale beyond their parents) */

  /* Part 1: Set a maxium relative to the parent */
  max-width: 100%;

  /* IE7-8 need help adjusting responsive images */
  width: auto\9;

  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  height: auto;

  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/milkyway.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }
}

.about-section {
    width: 100%;
    padding: 25px 0 30px;
    color: #fff;
    /*background-color: #4f73bf;*/
    /* background: url(../img/gray_background.jpg) no-repeat center center scroll; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background: #93cede;
    background: -moz-radial-gradient(center, ellipse cover, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #93cede), color-stop(41%, #75bdd1), color-stop(100%, #49a5bf));
    background: -webkit-radial-gradient(center, ellipse cover, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
    background: -o-radial-gradient(center, ellipse cover, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
    background: -ms-radial-gradient(center, ellipse cover, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
    background: radial-gradient(ellipse at center, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );
}

#about .container {
    padding-top: 40px;
}

.work-section {
    width: 100%;
    padding: 60px 0 30px;
    color: #fff;
    background: url(../img/keyboard.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#work-div {
    color: #fff;   
}

.downloads-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: #93cede;
    background: -moz-radial-gradient(center, ellipse cover, #93cede 0%, #75bdd1 43%, #5092ce 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #93cede), color-stop(43%, #75bdd1), color-stop(100%, #5092ce));
    background: -webkit-radial-gradient(center, ellipse cover, #93cede 0%, #75bdd1 43%, #5092ce 100%);
    background: -o-radial-gradient(center, ellipse cover, #93cede 0%, #75bdd1 43%, #5092ce 100%);
    background: -ms-radial-gradient(center, ellipse cover, #93cede 0%, #75bdd1 43%, #5092ce 100%);
    background: radial-gradient(ellipse at center, #93cede 0%, #75bdd1 43%, #5092ce 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#5092ce', GradientType=1 );
}

@media(max-width: 968px) {
    .downloads-section h3 {
        margin-top: 19px;
    }
}

.extra-padding-bottom {
    padding-bottom: 5px;
}

@media(max-width:968px) {
    .extra-padding-bottom {
        padding-bottom: 5px;
    }
	
	  .footer-column {
        margin-right: 17px;
        margin-left: 17px;
        margin-bottom: 20px;
    }
}

.contact-section {
    width: 100%;
    padding: 25px 0;
    color: #fff;
    background: url(../img/birds_over_water.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#contact .container{
    padding-top: 40px;
}

.footer-section {
    width: 100%;
    padding: 40px 0 0 0;
    color: #fff;
    background-color: #333333;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#footer .container {
    padding: 0 0 12px 0;
}

footer {
    width: 100%;
    margin: 20px 0 0 0;
}

.small-text {
    font-size: 12px;
    margin: 0 0 0 0;
    padding: 0 0 5 0;
}

.footer-h5 {
    margin-bottom: 2px; 
}

#feedContainer h6 {
    margin: 0 0 6px 0;
}

.gray-btn {
    border: 1px solid #444444;
    color: #444444;
}

#about a {
    color: #888888;
}