img {
  /* Responsive images (ensure images don't scale beyond their parents) */

  /* Part 1: Set a maxium relative to the parent */
  max-width: 100%;

  /* IE7-8 need help adjusting responsive images */
  width: auto\9;

  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  height: auto;

  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/milkyway.jpg) no-repeat center center fixed; 
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }
}

.about-section {
    width: 100%;
    padding: 25px 0 30px;
    color: #fff;
    background-color: #CF4141;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#about .container {
    padding-top: 40px;
}

.work-section {
    width: 100%;
    padding: 60px 0 30px;
    color: #fff;
    background: url(../img/navy_blue_background.jpg) no-repeat center center scroll; 
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#work-div {
    color: #fff;   
}

.downloads-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../img/keyboard.jpg) no-repeat center center fixed; 
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.extra-padding-bottom {
    padding-bottom: 5px;
}
@media(max-width:767px) {
    .extra-padding-bottom {
        padding-bottom: 20px;
    }
}

.contact-section {
    width: 100%;
    padding: 25px 0;
    color: #fff;
    background: url(../img/hipaa_download.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#contact .container{
    padding-top: 40px;
}

.footer-section {
    width: 100%;
    padding: 40px 0 0 0;
    color: #fff;
    background-color: #333333;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#footer .container {
    padding: 0 0 12px 0;
}

@media(max-width: 767px) {
    .footer-column {
        margin-right: 10px;
        margin-left: 10px;
    }   
}

footer {
    width: 100%;
    margin: 20px 0 0 0;
}

.small-text {
    font-size: 12px;
    margin: 0 0 0 0;
    padding: 0 0 5 0;
}

.footer-h5 {
    margin-bottom: 2px; 
}

#feedContainer h6{
    margin: 0 0 6px 0;
}