<section class="class-schedule">
    <div class="jumbotron">
      <h1>SPAC Mobile App Editor</h1>
      <p>This is the editor for the schedule content within the SPAC mobile application.</p>
    </div>
    
    <div class="main-text">
      <h2>What you need to know</h2>
      <p>You can edit the following information by clicking the links below, or the tabs at the top of this page.</p>
        
      <ul>
        <li>
          <a href="#/group">Group</a>
        </li>
        <li>
          <a href="#/small_group">Small Group</a>
        </li>
        <li>
          <a href="#/pilates">Pilates</a>
        </li>
        <li>
          <a href="#/events">Events</a>
        </li>
      </ul>
        
      <p>On these pages, you can add additional classes/events or remove classes/events from each day by clicking the 'Add Class' button or 'Remove' button.  When you are done making your edits, please save the content by clicking the 'Save' button.  This will update the files that the mobile app is linked to, and in-turn, the mobile application should reflect those changes instantly.</p>
        
      <p>If there are any questions, please email the administrator of this website, <a href="mailto://awzurn@gmail.com">awzurn@gmail.com</a>.</p>
    </div>
    
</section>