.intro-name {
    margin-bottom: 50px;
}

.name-hide {
	opacity: 0;
}

.name-show {
-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.portfolio-modal {
    margin: 50px 50px;
    border-radius: 5px;
}

/* CSS for the Carousel of the Portfolio area of the site */
.wrapper_bu {
  position: relative;
  width: 100%;
  height: 400px;

}
 
.txt_Center { margin: 50% 0% 0% 20% }   
 
.txt_h1 { font-size: 2em }
 
.holder_bu { cursor: pointer }
.holder_bu2 { cursor: pointer }
.holder_bu3 { cursor: pointer }
.holder_bu4 { cursor: pointer }
.holder_bu5 { cursor: pointer }
.holder_bu6 { cursor: pointer }
 
.holder_bu_awayL1 {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 35%;
  height: 55%;
  background: rgba(255,244,203,.9);
    border-radius: 5px;
    z-index: 2;
  -webkit-transition: width 1s, height 1s, top 1s, left 1s;
  -moz-transition: width 1s, height 1s, top 1s, left 1s;
  -o-transition: width 1s, height 1s, top 1s, left 1s;
  -ms-transition: width 1s, height 1s, top 1s, left 1s;
  transition: width 1s, height 1s, top 1s, left 1s
}
 
.holder_bu_awayL2 {
  position: absolute;
  top: 25%;
  left: 3%;
  width: 20%;
  height: 40%;
  background: rgba(33,182,168,.7);
    border-radius: 5px;
    z-index: 1;
  -webkit-transition: width 1s, height 1s, top 1s, left 1s;
  -moz-transition: width 1s, height 1s, top 1s, left 1s;
  -o-transition: width 1s, height 1s, top 1s, left 1s;
  -ms-transition: width 1s, height 1s, top 1s, left 1s;
  transition: width 1s, height 1s, top 1s, left 1s
}
 
.holder_bu_center {
  position: absolute;
  top: 0%;
  left: 20%;
  width: 60%;
  height: 90%;
    border-radius: 5px;
    background: rgba(33,182,168,1);
    z-index: 3;
  -webkit-transition: width 1s, height 1s, top 1s, left 1s;
  -moz-transition: width 1s, height 1s, top 1s, left 1s;
  -o-transition: width 1s, height 1s, top 1s, left 1s;
  -ms-transition: width 1s, height 1s, top 1s, left 1s;
  transition: width 1s, height 1s, top 1s, left 1s
}
 
.holder_bu_awayR1 {
  position: absolute;
  top: 20%;
  left: 55%;
  width: 35%;
  height: 55%;
  background: rgba(255,244,203,.9);
    border-radius: 5px;
    z-index: 2;
  -webkit-transition: width 1s, height 1s, top 1s, left 1s;
  -moz-transition: width 1s, height 1s, top 1s, left 1s;
  -o-transition: width 1s, height 1s, top 1s, left 1s;
  -ms-transition: width 1s, height 1s, top 1s, left 1s;
  transition: width 1s, height 1s, top 1s, left 1s
}
 
.holder_bu_awayR2 {
  position: absolute;
  top: 25%;
  left: 77%;
  width: 20%;
  height: 40%;
 background: rgba(33,182,168,.7);
    border-radius: 5px;
    z-index: 1;
  -webkit-transition: width 1s, height 1s, top 1s, left 1s;
  -moz-transition: width 1s, height 1s, top 1s, left 1s;
  -o-transition: width 1s, height 1s, top 1s, left 1s;
  -ms-transition: width 1s, height 1s, top 1s, left 1s;
  transition: width 1s, height 1s, top 1s, left 1s
}

.portfolio-writeup {
    margin-top: 50px;
}


.holder_bu_awayR2 img{
     display: inline-block;
    margin-top: 2px;
    max-height: 97%;
    max-width: 97%;
}

.holder_bu_awayL2 img{
     display: inline-block;
    margin-top: 2px;
    max-height: 97%;
    max-width: 97%;
}

.holder_bu_awayL1  img {
    display: inline-block;
    max-height: 97%;
    max-width: 97%;
}

.holder_bu_awayR1  img {
    display: inline-block;
    max-height: 97%;
    max-width: 97%;
}

.carosel-full-img {
    max-height: 100%;
    max-width: 100%;
    margin-left: 3px;
    margin-right: 3px;
    height: 95%;
    margin-top: 5px;
    display: inline-block;

}

.holder_bu_center .carosel-full-img {
    height: 75%;
}
.holder_bu_center img{
    display: inline-block;
    margin-top: 40px;
    max-height: 77%;
    max-width: 77%;
     -ms-transform: scale(1.25,1.25); /* IE 9 */
    -webkit-transform: scale(1.25,1.25); /* Chrome, Safari, Opera */
    transform: scale(1.25,1.25);
}

.portfolio-modal br {
   line-height: 300%;
}

.contact-image {
    z-index: 100;
    position: absolute;
    width: 80px;
    height: 80px;
    margin-left: 0;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    color: #FFF4CB;
    background-color: #666666;
}

.contact-icon {
    padding-bottom: 100px;
}

@media(max-width:768px) {
    .contact-icon {
        text-align: center;   
        margin-left: -75px;
    }
    .wrapper_bu {
        display: none;
    }
}

@media(min-width:768px) {
    .contact-image {
        width: 120px;
        height: 120px;
    }
    .wrapper_bu {
        display: block;
    }
}

@media(min-width:992px) {
    .contact-image {
        width: 150px;
        height: 150px;
    }
    .wrapper_bu {
        display: block;
    }
}

.portfolio-modal ul{
    text-align: left;
    line-height: 1.5;
}

.portfolio-modal .modal-content .paragraph img{
    border: 1.5px solid #666666;
    margin-bottom: 0px;
}

.portfolio-modal .paragraph .row h2 {
    text-align: center;
    font-size: 12px;
    margin-bottom: 0;
}

.portfolio-modal .paragraph .row p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 0;
}

.gray-row {
    background-color: #f1f1f1;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;     /* Align the flex-items vertically */
  justify-content: center; /* Optional, to align inner flex-items 
                              horizontally within the column  */
}

.portfolio-modal .paragraph p {
    text-align: left;
    line-height: 1.5;
}

.paragraph {
    width: auto;
}

.table-with-border {
    border: 1.5px solid #666666;
}

section#contact h3 {
  color: white;
}
