<section class="class-schedule">
    <div class="jumbotron">
      <h1>SPAC YouTube Night</h1>
    </div>
    
    <div class="main-text">
        
    <ul>
        <li ng-repeat="video in videos">
            <iframe width="560" height="315" src="{{video.wholeUrl | trustUrl}}" frameborder="0" allowfullscreen></iframe>
            <strong>Current Vote: {{video.vote}}</strong>
            <button ng-click="vote(video.url)">Vote</button>
        </li>    
    </ul>   
        
    </div>
    
</section>