.class-schedule {
    margin-top: 75px;   
}

.main-text {
    padding-left: 20px;   
}

.li-repeat {
    margin-bottom: 3px;   
}

.save-btn {
    float: right;
    margin-right: 250px;
    margin-top: 25px;
    font-weight: 900;
}

.delete-btn {
    color: #FF0000;
    width: auto;
}

.add-btn {
    color: #3385FF;
    width: auto;   
}

.direction-btn {
    color: #00A600;
    width: auto;
}

.strong-day-header {
		font-size: 16px;
}

td {
    padding-right: 3px;
    padding-bottom: 3px;
}

ul
{
    list-style-type: none;
}